appdirs==1.4.3
azure-common==1.1.5
azure-nspkg==2.0.0
azure-storage==0.32.0
Babel==2.4.0
Django==1.10.4
django-phonenumber-field==1.1.0
futures==3.0.5
httplib2==0.10.3
olefile==0.44
packaging==16.8
phonenumberslite==8.4.0
Pillow==4.1.0
PyCap==1.0.2
pyfcm==1.2.9
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
requests-toolbelt==0.7.1
semantic-version==2.3.1
six==1.10.0
twilio==5.7.0
