body {
    overflow-x: hidden;

    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

label {
    padding-right: 10px;
}

.pa-navbar-header {
    float: initial;
}

.pa-form-field ul {
    list-style: none;
    padding-left: 0;
}

.pa-register-patient-btn {
    float: right;
}

.pa-child-display-inline-block * {
    display: inline-block;
}

.pa-center-wrapper {
    text-align: center;
}

.pa-ignore-center-wrapper {
    text-align: initial;
}

.pa-body-container {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    -webkit-flex: 1;
}

.pa-navbar {
    display: inline-block;
}

.pa-nav-pills {
    width: 11em;
}

.pa-body-content{
    display: inline-block;
    width: 100%;
    margin-right: initial;
    margin-left: initial;
}



html {
    height: 100%;
}














