body {
    overflow-x: hidden;

    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

label {
    padding-right: 10px;
}

.pa-navbar-header {
    float: initial;
}

.pa-form-field ul {
    list-style: none;
    padding-left: 0;
}

.pa-register-patient-btn {
    float: right;
}

.pa-child-display-inline-block * {
    display: inline-block;
}

.pa-center-wrapper {
    text-align: center;
}

.pa-ignore-center-wrapper {
    text-align: initial;
}

.pa-body-container {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    -webkit-flex: 1;
}

.pa-navbar {
    display: inline-block;
}

.pa-nav-pills {
    width: 11em;
}

.pa-body-content{
    display: inline-block;
    width: 100%;
    margin-right: initial;
    margin-left: initial;
}


html {
    /* For sticky footer */
    height: 100%;
}

.table tbody >tr > td {
    vertical-align: middle;
}


.pa-toast {
    /*min-width: 200px;*/ /* Set a default minimum width */
    /*margin-left: -100px;*/ /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 40px; /* Center the snackbar */
    bottom: 20px; /* 30px from the bottom */
}

.pa-toast > .close {
    margin-left: 20px;
}

.button-row > button {
    margin-left: 10px;
}

.pa-right-align {
    text-align: right;
}

footer {
    padding: 5%;
}

.glyphicon-remove {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.glyphicon-remove:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    cursor: pointer;
}

.nested-list-group-item {
    padding-left: 50px;
}








