.panel-title{
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
}

#messages-panel {
    min-height: 30%;
    height: 30%;
}

#messages-panel-body {
    height: 60%;
}

#chat-messages {
    height: 100%;
    overflow: auto;
}

#chat-input {
    max-width: initial;
}

#chat-input-span {
    display:block;
}

#new-message-btn {
    width: 100%;
}

/* Modal css */
.modal-row {
    margin-bottom: 10px;
}
.modal-label {
    text-align: right;
}

.modal-input input {
    max-width: inherit;
}

.additional-input {
    border-style: dashed;
}

.modal-add {
    color: #ccc;
}

/* Vertical tabs css */
/*
.list-group {
    list-style: none;
}

.panel > .list-group .list-group-item:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
*/


