#messages-panel {
    min-height: 30%;
    height: 30%;
}

#messages-panel-body {
    height: 60%;
}

#chat-messages {
    height: 100%;
    overflow: auto;
}

#chat-input {
    max-width: initial;
}

#chat-input-span {
    display:block;
}

#new-message-btn {
    width: 100%;
}

/* Modal css */
.modal-row {
    margin-bottom: 10px;
}
.modal-label {
    text-align: right;
}

.modal-input input {
    max-width: inherit;
}

.additional-input {
    border-style: dashed;
}

.modal-add {
    color: #ccc;
}

