#id_notes {
    /* "id_notes" comes from the field "notes" in forms.PatientNotesForm. 
     * Django auto adds "id_" to field name as id tag */
    max-width: 100%;
    resize: none;
}

.patient-field {
    /* Used in patient_profile.html */
    font-weight: bold;
    padding-right: 10px;
}
