{% load i18n %}

<!-- Modal for creating a new notification to send to patient. -->
<div class="modal fade" id="create-notification-modal" tabindex="-1" role="dialog" aria-labelledby="create-notification-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="x-create-notification-modal-btn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="create-notification-title">{% trans "Create notification" %}</h4>
            </div>

            <div class="modal-body">
                <form method="POST" action="{% url 'create-notification' %}" id="create-notification-form" class="form-group">
                    {% csrf_token %}

                    <label for="{{ create_notification_form.category.id_for_label }}" class="control-label">{{ create_notification_form.category.label }}</label>

                    <div id="category-radio-container">
                        {% for choice in create_notification_form.category %}
                            <div class="radio">
                                {{choice.tag}}
                                {{choice.choice_label}}
                            </div >
                        {% endfor %}
                    </div>

                    <br>

                    <label for="{{ create_notification_form.text.id_for_label }}" class="control-label">{{ create_notification_form.text.label }}</label>
                    {{ create_notification_form.text }}

                </form>
            </div>
            <div class="modal-footer">
                <button id="close-create-notification-btn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create-notification-btn" type="button" class="btn btn-primary" onclick="createNotification('{{patient.pk}}')" autocomplete="off">Create</button>
            </div>








        </div>
    </div>
</div>
