{% extends "app/layout.html" %}

{% block content %}
<div class="page-header">
    <h1>Dashboard<small><!--Subtext for header--></small></h1>
</div>

<!-- Unread Messages Panel -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Unread Messages</h3>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item">Billy Bob<span class="badge">78</span></a>
        <a href="#" class="list-group-item">John Doe<span class="badge">3</span></a>
        <a href="#" class="list-group-item">Jane Doe<span class="badge">10</span></a>
        <a href="#" class="list-group-item">John Jingleheimerschmidt<span class="badge">101</span></a>
    </div>
</div>


<!-- Missing Medication Panel -->
<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Unread Messages</h3>
    </div>

    <div class="list-group">
        <a href="#" class="list-group-item">Billy Bob<span class="badge">78</span></a>
        <a href="#" class="list-group-item">John Doe<span class="badge">3</span></a>
        <a href="#" class="list-group-item">Jane Doe<span class="badge">10</span></a>
        <a href="#" class="list-group-item">John Jingleheimerschmidt<span class="badge">101</span></a>
    </div>
</div>

{% endblock %}
