<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/layout.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

</head>

<body>
    <div class="body-container pa-center-wrapper">

        <!-- <div class="container body-content"> -->
        {% block content %}{% endblock %}
        <!-- </div> -->

        <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
        <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
        <script src="{% static 'app/scripts/respond.js' %}"></script>
        {% block scripts %}{% endblock %}

    </div>

    <div class="container">
        <footer class="footer">
            <hr/>
            <p>&copy; {{ year }} - PalliAssist</p>
        </footer>
    </div>

</body>
</html>
