{% extends "app/empty_layout.html" %}
{% load i18n %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <hr />
    </div>
</div>

<div class="row">
    {% if form.errors %}
    {# Translators: When logging in. #}
    <p class="validation-summary-errors">{% trans "Please enter a correct username and password." %}</p>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-6 col-md-push-4">
        <section id="loginForm">
        <form action="." method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                {# Translators: Login field. #}
                <label for="id_username" class="col-md-2 control-label">{% trans "Username" %}</label>
                <div class="col-md-10">
                    {{ form.username }}
                </div>
            </div>
            <div class="form-group">
                {# Translators: Password field. #}
                <label for="id_password" class="col-md-2 control-label">{% trans "Password" %}</label>
                <div class="col-md-10">
                    {{ form.password }}
                </div>
            </div>
            <div class="form-group pa-ignore-center-wrapper">
                <div class="col-md-offset-2 col-md-10">
                    <input type="hidden" name="next" value="/" />
                    {# Translators: Button to login. #}
                    <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                </div>
            </div>
        </form>
        </section>
    </div>
</div>

<br><br>

{# Translators: Link to go to sign up page. #}
<a href="/signup/">{% trans "Create account" %}</a>

{% endblock %}


{% block scripts %}

{% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
