{% load i18n %}

<!-- Messaging Panel -->
{% for ch in channels %}
{% if forloop.first %}
<div id="{{ch.unique_name}}" class="panel panel-default tab-pane fade in active messages-panel">
{% else %} 
<div id="{{ch.unique_name}}" class="panel panel-default tab-pane fade messages-panel">
{% endif %} 

    <div class="panel-heading clearfix">
        <strong class="panel-title">{{ch.friendly_name}}</strong>
    </div>
    <div class="panel-body messages-panel-body">
        <div id="{{ch.unique_name}}-chat-messages" class="chat-messages"></div>
    </div>

    <!-- Input text box at bottom -->
    <ul class="list-group">
        <li class="list-group-item">

        <div class="input-group">
            <span class="chat-input-span">
                {# Translators: Prompt in the message chat input. #}
                {% trans "say anything" as text_prompt %}
                <input id="{{ch.unique_name}}-chat-input" type="text" class="form-control chat-input" placeholder="{{text_prompt}}" autofocus aria-label="...">
            </span>

            <!-- Buttons -->
            <div class="input-group-btn">
                <button data-toggle="modal" data-target="#upload-image-modal" class="btn btn-default upload-image-modal-btn" type="button">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                </button>

                {# Translators: Button to send a message. #}
                <button id="{{ch.unique_name}}-send-message-btn" class="btn btn-primary send-message-btn" type="button">{% trans "Send" %}</button>
            </div>

        </div>
        </li>
    </ul>
</div>
{% endfor %}

{% include "messages_upload_image_modal.html" %}
