{% extends "app/layout.html" %}

{% block content %}

<div class="">
    <h3>{{title}}<small><!--Subtext for header--></small></h3>
    <hr>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                <strong class="panel-title">Chats</strong>
            </div>

            <!-- Chat channels list -->
            <ul class="list-group">
                {% for ch in channels %}
                <a data-toggle="tab" class="list-group-item chat-list-item" href="#{{ch.sid}}">{{ch.friendly_name}}<span class="badge">3</span></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        {% include "messages_panel.html" with channels=channels %}
    </div>
</div>

{% include "messages_add_member_modal.html" %}

{% comment %}
<div id="saved-messages"></div>
<input id="save-input" type="text" placeholder="save message" autofocus/>
{% endcomment %}

{% endblock %}

{% block scripts %}

{% load staticfiles %}

<script>
    // Passing Django variables along to javascript side by setting variables.
    // Probably not best practice but eh.
    {% autoescape off %}
    var django_username = "{{user.username}}";
    var channels = {{channels}};
    var token = "{{token}}";
    {% endautoescape %}
</script>

<link rel="stylesheet" type="text/css" href="{% static 'app/content/messages.css' %}" />
<script src="{% static 'app/scripts/messages.js' %}"></script>

{% endblock %}

