{% extends "app/layout.html" %}

{% block content %}

<div class="page-header">
    <h1>{{ title }}<small><!--Subtext for header--></small></h1>
</div>

{% comment %}{% endcomment %}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Chats</h3>
            </div>
            <div class="panel-body">
                <!-- Modal HTML at bottom -->
                <button id="new-message-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-message-modal">
                    <span class="glyphicon glyphicon-plus"></span> New Message
                </button>
            </div>

            <!-- Contacts List -->
            <ul class="list-group">
                {% for ch in channels %}
                <a data-toggle="tab" class="list-group-item" href="#{{ch.sid}}">{{ch.friendly_name}}<span class="badge">3</span></a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Messaging Panel -->
    <div class="col-md-9">
        <div class="panel panel-default" id="messages-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body tab-content" id="messages-panel-body">

                {% for ch in channels %}
                {% if forloop.first %}
                <div id="{{ ch.sid }}" class="tab-pane fade in active">
                {% else %} 
                <div id="{{ ch.sid }}" class="tab-pane fade in">
                {% endif %}
                    {{ch.friendly_name}}
                    <div id="chat-messages"></div>
                </div>
                {% endfor %}



                </div>
                <!-- Input text box at bottom -->
                <ul class="list-group">
                    <li class="list-group-item">

                    <div class="input-group">
                        <span id="chat-input-span">
                            <input id="chat-input" type="text" class="form-control" placeholder="say anything" autofocus aria-label="...">
                        </span>

                        <!-- Buttons -->
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-default" type="button">
                                <span class=" glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-primary" type="button">Send</button>
                        </div>

                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Modal for creating new message -->
    <div class="modal fade" id="new-message-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Start a new message</h4>
                </div>
                <div class="modal-body">
                    <div class="row modal-row">
                        <div class="col-md-4 modal-label">
                            <strong>Name of new message</strong>
                        </div>
                        <div class="col-md-7 modal-input">
                            <input id="new-message-name" type="text" class="form-control" placeholder="New name">
                        </div>
                    </div>

                    <div class="row modal-row">
                        <div class="col-md-4 modal-label">
                            <strong>Add Members</strong>
                        </div>
                        <div class="col-md-7 modal-input">
                            <input type="text" id="new-member-username" class="form-control" placeholder="Member username">
                        </div>
                    </div>
                    
                    <div class="row modal-row">
                        <div class="col-md-push-4 col-md-7 modal-input">
                            <input type="text" class="form-control additional-input" placeholder="Add another member">
                        </div>
                        <div class="col-md-push-4 col-md-1 modal-add">
                            <span class="glyphicon glyphicon-plus"></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% comment %}
    <div id="saved-messages"></div>
    <input id="save-input" type="text" placeholder="save message" autofocus/>
    {% endcomment %}

    {% endblock %}

    {% block scripts %}

    {% load staticfiles %}

    <script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/chat/v0.11/twilio-chat.min.js"></script>

    <!--<script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>-->
    <script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script>
        // Passing Django variables along to javascript side by setting variables.
        // Probably not best practice but eh.
        {% autoescape off %}
        var django_username = "{{user.username}}";
        var channels = {{channels}};
        console.log(channels);
        var token = "{{token}}";
        {% endautoescape %}
    </script>

    <link rel="stylesheet" type="text/css" href="{% static 'app/content/messages.css' %}" />
    <script src="{% static 'app/scripts/messages.js' %}"></script>

    {% endblock %}

