
<!-- Messaging Panel -->
{% for ch in channels %}
{% if forloop.first %}
<div id="{{ch.unique_name}}" class="panel panel-default tab-pane fade in active messages-panel">
{% else %} 
<div id="{{ch.unique_name}}" class="panel panel-default tab-pane fade messages-panel">
{% endif %} 

    <div class="panel-heading clearfix">
        <strong class="panel-title">{{ch.friendly_name}}</strong>
        {% comment %}
        <button id="add-member-modal-btn" type="button" class="btn btn-primary pull-right" autocomplete="off" data-toggle="modal" data-target="#add-member-modal">
            <span class="glyphicon glyphicon-plus"></span> Add Member
        </button>
        {% endcomment %}
    </div>
    <div class="panel-body messages-panel-body">
        <div id="{{ch.unique_name}}-chat-messages" class="chat-messages"></div>
    </div>

    <!-- Input text box at bottom -->
    <ul class="list-group">
        <li class="list-group-item">

        <div class="input-group">
            <span class="chat-input-span">
                <input id="{{ch.unique_name}}-chat-input" type="text" class="form-control chat-input" placeholder="say anything" autofocus aria-label="...">
            </span>

            <!-- Buttons -->
            <div class="input-group-btn">
                <button data-toggle="modal" data-target="#upload-image-modal" class="btn btn-default upload-image-modal-btn" type="button">
                    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                </button>
                <!--
                <button class="btn btn-default" type="button">
                    <span class=" glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                </button>
                -->
                <button id="{{ch.unique_name}}-send-message-btn" class="btn btn-primary send-message-btn" type="button">Send</button>
            </div>

        </div>
        </li>
    </ul>
</div>
{% endfor %}

{% include "messages_add_member_modal.html" %}
{% include "messages_upload_image_modal.html" %}
