{% extends "app/layout.html" %}

{% block content %}

<link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/index.css">

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>



<p>Use this area to provide additional information.</p>

<section>
    <div id="chat-messages"></div>
    <input id="chat-input" type="text" placeholder="say anything" autofocus/>
</section>

<hr>
<br><br><br>

<section>
<div id="saved-messages"></div>
<input id="save-input" type="text" placeholder="save message" autofocus/>
</section>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v0.11/twilio-chat.min.js"></script>

<!--<script src="//media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>-->
<script src="//media.twiliocdn.com/sdk/rtc/js/ip-messaging/v0.9/twilio-ip-messaging.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script>
    var django_username = "{{user.username}}";
</script>

<script src="{% static 'app/scripts/messaging.js' %}"></script>

{% endblock %}

