{% load i18n %}

<!-- Modal for uploading image to current chat -->
<div class="modal fade" id="upload-image-modal" tabindex="-1" role="dialog" aria-labelledby="upload-image-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="x-upload-image-btn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="upload-image-title">{% trans "Upload image" %}</h4>
            </div>

                <div class="modal-body">
                    <form method="POST" action="{% url 'upload-image' %}" enctype="multipart/form-data" id="upload-image-form" class="form-group">
                        {% csrf_token %}

                        {{ upload_image_form }}

                    </form>

                    <span id="upload-image-error"></span>
                </div>
                <div class="modal-footer">
                    <button id="close-upload-image-btn" type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                    <button id="upload-image-btn" type="button" class="btn btn-primary" autocomplete="off">{% trans "Upload" %}</button>
                </div>

        </div>
    </div>
</div>
