<br>

<table class="table table-bordered table-hover">

    <tr>
        <td class="patient-field">Name:</td>
        <td>{{patient.full_name}}</td>
    </tr>
    <tr>
        <td class="patient-field">Hospital ID:</td>
        <td>{{patient.sid}}</td>
    </tr>
    <tr>
        <td class="patient-field">Telephone:</td>
        <td>{{patient.telephone}}</td>
    </tr>
    <tr>
        <td class="patient-field">Age:</td>
        <td>{{patient.age}}</td>
    </tr>
    <tr>
        <td class="patient-field">Gender:</td>
        <td>{{patient.gender}}</td>
    </tr>
    <tr>
        <td class="patient-field">City of Residence:</td>
        <td>{{patient.city_of_residence}}</td>
    </tr>
    <tr>
        <td class="patient-field">Caregiver:</td>
        <td>{{patient.caregiver_name}}</td>
    </tr>
    <tr>
        <td class="patient-field">Treatment Type:</td>
        <td>{{patient.treatment_type}}</td>
    </tr>
    <tr>
        <td class="patient-field">Next Appointment:</td>
        <td class="millis-date">{{patient.next_appointment}}</td>
    </tr>

</table>
