{% extends "app/layout.html" %}

{% block content %}
<div class="">
    <h3>{{ patient.full_name }}<small><!--Subtext for header--></small></h3>
    <hr>
</div>

<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#messages">Messages</a></li>
            <li><a data-toggle="tab" href="#medication">Medication</a></li>
            <li><a data-toggle="tab" id="esas-tab" href="#esas">ESAS</a></li>
            <li><a data-toggle="tab" href="#pain">Pain</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                {% include "patient_profile_home.html" with patient=patient %}
            </div>
            <div id="messages" class="tab-pane fade">
                {% include "patient_profile_messages.html" with channels=channels%}
            </div>
            <div id="medication" class="tab-pane fade">
                {% include "patient_profile_medication.html" with medications=medications %}
            </div>
            <div id="esas" class="tab-pane fade">
                {% include "patient_profile_esas.html" with esas_objects=esas_objects%}
            </div>
            <div id="pain" class="tab-pane fade">
                {% include "patient_profile_pain.html" with pain_surveys=pain_surveys pain_width=pain_width pain_height=pain_height %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h3>Notes</h3>

        <form method="POST" action="/save-notes/" id="notes-form" class="form-group">
            {% csrf_token %}
            <div>
                {{ notes_form }}
            </div>
        </form>
        <div>
            <input id="save-notes-button" class="btn btn-default" type="submit" onclick="saveNotes('{{patient.u_id}}')" value="Save">
            <input class="btn btn-default" type="button" onclick="clearNotes()" value="Clear">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/patient_profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/messages.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/pain.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/esas.css' %}" />

<script src="{% static 'app/scripts/patient_profile.js' %}"></script>
<script src="{% static 'app/scripts/messages.js' %}"></script>
<script src="{% static 'app/scripts/esas.js' %}"></script>
<script src="{% static 'app/scripts/pain.js' %}"></script>

<script>
    {% autoescape off %}
    var django_username = "{{user.username}}";
    var esasJSON = JSON.parse('{{esas_json}}');
    //var painSurveys = {{pain_surveys}};
    var patientFullName = "{{patient.full_name}}";
    var channels = {{channels}};
    var token = "{{token}}";
    updateNotes('{{patient.doctor_notes}}');
    {% endautoescape %}
</script>

{% endblock %}

