{% extends "app/layout.html" %}

{% block content %}
<div class="">
    <h3>{{title}}<small><!--Subtext for header--></small></h3>
    <hr>
</div>


<!-- Search form -->
<section id="queryPatients">
<form method="GET" action="/patients/">
    {% csrf_token %}

    <div class="pa-child-display-inline-block">
        {{ form }}

        <button type="submit" class="btn btn-primary">Search</button>
    </div>

</form>
</section>

<hr />


{% if patient_results %}

<!-- Table of search results --> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hospital ID</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <!-- Search results -->
        {% for patient_result in patient_results %}
        <tr>
            <td><a href="{% url 'patient-profile' %}?sid={{patient_result.sid}}">{{ patient_result.full_name}}</a> </td>
            <td>{{ patient_result.sid }} </td>
            <td>{{ patient_result.gender }} </td>
            <td>{{ patient_result.age }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="pa-center-wrapper">
    No patients found.
</div>

{% endif %}


{% endblock %}





{% block scripts %}

{% load staticfiles %}

<script src="{% static 'app/scripts/patients.js' %}"></script>

{% endblock %}

