<br>
{% comment %}
{% endcomment %}

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                <strong class="panel-title">Surveys</strong>
                <button type="button" class="btn btn-danger" onclick="sendNotification()">Request</button>
            </div>

            <!-- Chat channels list -->
            <ul class="list-group">
                
                <a data-toggle="tab" class="list-group-item" href="#esas-overview">Overview</a>

                {% for esas in esas_surveys %}
                <a data-toggle="tab" class="list-group-item millis-date" href="#{{esas.primary_key}}">{{esas.created_date}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% comment %}
    {% endcomment %}
    <!-- Content Panel -->
    <div class="col-md-9">
        <div class="panel panel-default" id="esas-panel">

            <div class="panel-heading">
                <strong class="panel-title">Panel Title</strong>
            </div>
            <div class="panel-body tab-content" id="esas-panel-body">
                <div id="esas-overview" class="tab-pane fade in active">
                    <div id="linechart_material" style="width: 100%; height: 400px"></div>
                </div>

                {% for esas in esas_surveys%}
                <div id="{{ esas.primary_key }}" class="tab-pane fade in">
                    <div id="{{esas.primary_key}}-esas-responses">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Question</th>
                                <th>Answer</th>
                            </tr>
                            {% for q in esas.questions|dictsort:"question" %}
                                {% if q.answer < 3 %}
                                <tr class="success">
                                {% elif q.answer < 8 %}
                                <tr class="warning">
                                {% else %}
                                <tr class="danger">
                                {% endif %}
                                    <td>{{ q.question|title }}</td>
                                    <td>{{ q.answer|title }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% comment %}
    {% endcomment %}
</div>



