{% extends "app/layout.html" %}
{% load i18n %}

{% block content %}
<div class="">
    <h3>{{ patient.full_name }}<small><!--Subtext for header--></small></h3>
    <hr>
</div>

<div class="row">
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">{% trans "Home" %}</a></li>
            {% comment %}
            <li><a data-toggle="tab" href="#notifications">Notifications</a></li>
            {% endcomment %}
            {% comment %}
            <li><a data-toggle="tab" href="#videos">Videos</a></li>
            {% endcomment %}
            <li><a data-toggle="tab" href="#messages">{% trans "Messages" %}</a></li>
            <li><a data-toggle="tab" href="#medications">{% trans "Medications" %}</a></li>
            <li><a data-toggle="tab" id="esas-tab" href="#esas">{% trans "ESAS" %}</a></li>
            <li><a data-toggle="tab" href="#pain">{% trans "Pain" %}</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                {% include "patient_profile_home.html" %}
            </div>
            <div id="messages" class="tab-pane fade">
                {% include "patient_profile_messages.html" %}
            </div>
            {% comment %}
            <div id="notifications" class="tab-pane fade">
                {% include "patient_profile_notifications.html" %}
            </div>
            {% endcomment %}
            {% comment %}
            <div id="videos" class="tab-pane fade">
                {% include "patient_profile_videos.html" %}
            </div>
            {% endcomment %}
            <div id="medications" class="tab-pane fade">
                {% include "patient_profile_medications.html" %}
            </div>
            <div id="esas" class="tab-pane fade">
                {% include "patient_profile_esas.html" %}
            </div>
            <div id="pain" class="tab-pane fade">
                {% include "patient_profile_pain.html" %}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <h3>{% trans "Notes" %}</h3>

        <form method="POST" action="{% url 'save-notes' %}" id="notes-form" class="form-group">
            {% csrf_token %}
            <div>
                {{ notes_form }}
            </div>
        </form>
        <div>
            <button id="save-notes-button" class="btn btn-default" type="submit" onclick="saveNotes('{{patient.pk}}')">{% trans "Save" %}</button>
            <button class="btn btn-default" type="button" onclick="clearNotes()">{% trans "Clear" %}</button>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/patient_profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/notifications.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/videos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/messages.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/medications.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/pain.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'app/content/esas.css' %}" />

<script src="{% static 'app/scripts/patient_profile.js' %}"></script>
<script src="{% static 'app/scripts/videos.js' %}"></script>
<script src="{% static 'app/scripts/notifications.js' %}"></script>
<script src="{% static 'app/scripts/messages.js' %}"></script>
<script src="{% static 'app/scripts/medications.js' %}"></script>
<script src="{% static 'app/scripts/esas.js' %}"></script>
<script src="{% static 'app/scripts/pain.js' %}"></script>

<script>
    {% autoescape off %}
    var djangoUsername = "{{user.username}}";
    var esasJSON = JSON.parse('{{esas_json}}');
    var patientFullName = "{{patient.full_name}}";
    var patientUsername = "{{patient.user.username}}";
    var channels = {{channels}};
    var token = "{{token}}";
    {% endautoescape %}
</script>

{% endblock %}

