<br>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                <strong class="panel-title">Medications</strong>
            </div>

            <!-- Medication reports list -->
            <ul class="list-group">
                
                <a data-toggle="tab" class="list-group-item" href="#medication-overview">Overview</a>

                {% for report in medication_reports %}
                <a data-toggle="tab" class="list-group-item" href="#report-{{report.pk}}">{{report.created_date|date:"SHORT_DATE_FORMAT"}} {{report.created_date|time:"H:i"}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content Panel -->
    <div class="col-md-9 tab-content">
        <div class="panel panel-default tab-pane fade in active" id="medication-overview">

            <div class="panel-heading">
                <strong class="panel-title">Overview</strong>
                <button id="create-medication-modal-btn" type="button" class="btn btn-primary pull-right" autocomplete="off" data-toggle="modal" data-target="#create-medication-modal">
                    <span class="glyphicon glyphicon-plus"></span> Create 
                </button>
            </div>
            <div class="panel-body" id="esas-panel-body">
                <!-- <div id="medication-overview" class="tab-pane fade in active"> -->
                {% if medications %}

                <!-- Table of search results --> 
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <!-- <th>Date</th> -->
                            <th>Name</th>
                            <th>Form</th>
                            <th>Dose</th>
                            <th>Posology</th>
                            <th>Rescue</th>
                            <th><!-- Remind medication column --></th>
                            <th><!-- Clear medication column --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Search results -->
                        {% for medication in medications %}
                        <tr id="medication-row-{{medication.pk}}" class="medication-row">
                            <!-- <td class="millis-date">{{ medication.created_date }}</td> -->
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.form }}</td>
                            <td>{{ medication.dose }}</td>
                            <td>{{ medication.posology }}</td>
                            <td>{{ medication.rescue }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" onclick="fcmNotification('{{patient.user.username}}', 'REMIND', 'MEDICATION', '', '{{medication.pk}}')">
                                    Remind
                                </button>
                            </td>
                            <td><span class="glyphicon glyphicon-remove delete-medication delete-x" aria-hidden="true"></span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}

                <br>
                <div class="pa-center-wrapper">
                    No medications found.
                </div>

                {% endif %}

            </div>
        </div>

        {% for report in medication_reports %}
        <div class="panel panel-default tab-pane fade" id="report-{{report.pk}}">

            <div class="panel-heading">
                <strong class="panel-title">{{report.created_date|date:"SHORT_DATE_FORMAT"}} {{report.created_date|time:"H:i"}}</strong>
            </div>
            <div class="panel-group medication-report" id="report-{{report.pk}}-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    {% for entry in report.entries.all %}
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#report-{{report.pk}}-accordion" href="#entry-{{entry.pk}}" aria-expanded="true" aria-controls="entry-{{entry.pk}}">
                                {{entry.medication.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="entry-{{entry.pk}}" class="panel-collapse collapse in" role="tabpanel">
                        <ul class="list-group">
                            {% for status in entry.statuses.all %}
                                {% if status.completed %}
                                <li class="list-group-item green">
                                    <span class="glyphicon glyphicon-ok green"></span>
                                    <span class="medication-status-time">{{status.time|time:"H:i"}}</span>
                                </li>
                                {% else %}
                                <li class="list-group-item red">
                                    <span class="glyphicon glyphicon-remove red"></span>
                                    <span class="medication-status-time">{{status.time|time:"H:i"}}</span>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>












{% include "create_medication_modal.html" %}
