{% load i18n %}

<br>

{% if editing_patient %}
<form action="{% url 'save-patient-info' %}" method="post">
    {% csrf_token %}
    <table class="table table-bordered table-hover">

        <tr>
            {# Translators: Name of patient. #}
            <td class="patient-field">{% trans "Name:" %}</td>
            <td>{{edit_patient_form.full_name}}</td>
        </tr>
        <tr>
            {# Translators: Hospital ID of patient. #}
            <td class="patient-field">{% trans "Hospital ID:" %}</td>
            <td>{{edit_patient_form.hospital_id}}</td>
        </tr>
        <tr>
            {# Translators: ESAS alert level of patient. #}
            <td class="patient-field">{% trans "ESAS Alert Level:" %}</td>
            <td>{{edit_patient_form.esas_alert}}</td>
        </tr>
        <tr>
            {# Translators: Telephone of patient. #}
            <td class="patient-field">{% trans "Telephone:" %}</td>
            <td>{{edit_patient_form.telephone}}</td>
        </tr>
        <tr>
            {# Translators: Age of patient. #}
            <td class="patient-field">{% trans "Age:" %}</td>
            <td>{{edit_patient_form.age}}</td>
        </tr>
        <tr>
            {# Translators: Gender of patient. #}
            <td class="patient-field">{% trans "Gender:" %}</td>
            <td class="pa-form-field">{{edit_patient_form.gender}}</td>
        </tr>
        <tr>
            {# Translators: City of residence of patient. #}
            <td class="patient-field">{% trans "City of Residence:" %}</td>
            <td>{{edit_patient_form.city_of_residence}}</td>
        </tr>
        <tr>
            {# Translators: Caregiver of patient. #}
            <td class="patient-field">{% trans "Caregiver:" %}</td>
            <td>{{edit_patient_form.caregiver_name}}</td>
        </tr>
        <tr>
            {# Translators: Treatment type of patient. #}
            <td class="patient-field">{% trans "Treatment Type:" %}</td>
            <td class="pa-form-field">{{edit_patient_form.treatment_type}}</td>
        </tr>
        <tr>
            {# Translators: Next appointment of patient. #}
            <td class="patient-field">{% trans "Next Appointment:" %}</td>
            <td>{{edit_patient_form.next_appointment}}</td>
        </tr>

    </table>

    <!-- hidden input field in the form -->
    {{edit_patient_form.pk}}

    <div class="row pull-right">
        {# Translators: Save edited patient profile. #}
        <button id="edit-patient-info-btn" type="submit" class="btn btn-primary table-btn">{% trans "Save" %}</button>
    </div>
</form>


{% else %}
<form action="{% url 'edit-patient-info' %}" method="post">
    {% csrf_token %}

    <table class="table table-bordered table-hover">
        <tr>
            {# Translators: Name of patient. #}
            <td class="patient-field">{% trans "Name:" %}</td>
            <td>{{patient.full_name}}</td>
        </tr>
        <tr>
            {# Translators: Hospital ID of patient. #}
            <td class="patient-field">{% trans "Hospital ID:" %}</td>
            <td>{{patient.hospital_id}}</td>
        </tr>
        <tr>
            {# Translators: ESAS alert level of patient. #}
            <td class="patient-field">{% trans "ESAS Alert Level:" %}</td>
            <td>{{patient.esas_alert}}</td>
        </tr>
        <tr>
            {# Translators: Telephone of patient. #}
            <td class="patient-field">{% trans "Telephone:" %}</td>
            <td>{{patient.telephone}}</td>
        </tr>
        <tr>
            {# Translators: Age of patient. #}
            <td class="patient-field">{% trans "Age:" %}</td>
            <td>{{patient.age}}</td>
        </tr>
        <tr>
            {# Translators: Gender of patient. #}
            <td class="patient-field">{% trans "Gender:" %}</td>
            <td>{{patient.gender}}</td>
        </tr>
        <tr>
            {# Translators: City of residence of patient. #}
            <td class="patient-field">{% trans "City of Residence:" %}</td>
            <td>{{patient.city_of_residence}}</td>
        </tr>
        <tr>
            {# Translators: Caregiver of patient. #}
            <td class="patient-field">{% trans "Caregiver:" %}</td>
            <td>{{patient.caregiver_name}}</td>
        </tr>
        <tr>
            {# Translators: Treatment type of patient. #}
            <td class="patient-field">{% trans "Treatment Type:" %}</td>
            <td>{{patient.treatment_type}}</td>
        </tr>
        <tr>
            {# Translators: Next appointment of patient. #}
            <td class="patient-field">{% trans "Next Appointment:" %}</td>
            <td>{{patient.next_appointment|date:"SHORT_DATE_FORMAT"}} {{patient.next_appointment|time:"H:i"}}</td>
        </tr>

        {{edit_patient_form.pk}}

    </table>

    <div class="row pull-right">
        <button id="edit-patient-info-btn" type="submit" class="btn btn-warning table-btn">
            {# Translators: Button to edit a patient's profile. #}
            <span class="glyphicon glyphicon-pencil"></span> &nbsp; {% trans "Edit" %}
        </button>
    </div>
</form>

{% endif %}

<br>
{# Translators: Instructional video to show patient. #}
<h4>{% trans "Video" %}</h4>

{% include "patient_profile_videos.html" %}
