{% load i18n %}

<br>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                {# Translators: Patient profile medication tab. #}
                <strong class="panel-title">{% trans "Medications" %}</strong>
            </div>

            <!-- Medication reports list -->
            <ul class="list-group">
                
                {# Translators: Overview of all patient medications. #}
                <a data-toggle="tab" class="list-group-item" href="#medication-overview">{% trans "Overview" %}</a>

                {% for report in medication_reports %}
                <a data-toggle="tab" class="list-group-item" href="#report-{{report.pk}}">{{report.created_date|date:"SHORT_DATE_FORMAT"}} {{report.created_date|time:"H:i"}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content Panel -->
    <div class="col-md-9 tab-content">
        <div class="panel panel-default tab-pane fade in active" id="medication-overview">

            <div class="panel-heading">
                {# Translators: Overview of all patient medications. #}
                <strong class="panel-title">{% trans "Overview" %}</strong>
                <button id="create-medication-modal-btn" type="button" class="btn btn-primary pull-right" autocomplete="off" data-toggle="modal" data-target="#create-medication-modal">
                    {# Translators: Button to create a new medication. #}
                    <span class="glyphicon glyphicon-plus"></span> {% trans "Create" %} 
                </button>
            </div>
            <div class="panel-body" id="esas-panel-body">
                {% if medications %}

                <!-- Table of search results --> 
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            {# Translators: Name of medication. #}
                            <th>{% trans "Name" %}</th>
                            {# Translators: Form of medication. #}
                            <th>{% trans "Form" %}</th>
                            {# Translators: Dose of medication. #}
                            <th>{% trans "Dose" %}</th>
                            {# Translators: Posology of medication. #}
                            <th>{% trans "Posology" %}</th>
                            {# Translators: Rescue of medication. #}
                            <th>{% trans "Rescue" %}</th>
                            <th><!-- Remind medication column --></th>
                            <th><!-- Clear medication column --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Search results -->
                        {% for medication in medications %}
                        <tr id="medication-row-{{medication.pk}}" class="medication-row">
                            <!-- <td class="millis-date">{{ medication.created_date }}</td> -->
                            <td>{{ medication.name }}</td>
                            <td>{{ medication.form }}</td>
                            <td>{{ medication.dose }}</td>
                            <td>
                                {% for dose_time in medication.posology_as_list %}
                                    {% trans "Dose " %}
                                    {{ forloop.counter }}
                                    {{ ": " }}
                                    {{ dose_time }}

                                    <!-- This is really gross. Fix it. -->
                                    {% if num_dose == 1 %}
                                        {{ medication.dose_time_1 }}
                                    {% elif num_dose == 2 %}
                                        {{ medication.dose_time_2 }}
                                    {% elif num_dose == 3 %}
                                        {{ medication.dose_time_3 }}
                                    {% elif num_dose == 4 %}
                                        {{ medication.dose_time_4 }}
                                    {% elif num_dose == 5 %}
                                        {{ medication.dose_time_5 }}
                                    {% elif num_dose == 6 %}
                                        {{ medication.dose_time_6 }}
                                    {% endif %}
                                    <br>
                                {% endfor %}
                            </td>
                            {% comment %}
                            <td>
                                {% for num_dose in medication.num_doses %}
                                    {% trans "Dose " %}
                                    {{ num_dose }}
                                    {{ ": " }}

                                    <!-- This is really gross. Fix it. -->
                                    {% if num_dose == 1 %}
                                        {{ medication.dose_time_1 }}
                                    {% elif num_dose == 2 %}
                                        {{ medication.dose_time_2 }}
                                    {% elif num_dose == 3 %}
                                        {{ medication.dose_time_3 }}
                                    {% elif num_dose == 4 %}
                                        {{ medication.dose_time_4 }}
                                    {% elif num_dose == 5 %}
                                        {{ medication.dose_time_5 }}
                                    {% elif num_dose == 6 %}
                                        {{ medication.dose_time_6 }}
                                    {% endif %}
                                    <br>
                                    {{ " Time"}}
                                {% endfor %}
                            </td>
                            {% endcomment %}
                            <td>{{ medication.rescue }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs" onclick="fcmNotification('{{patient.user.username}}', 'REMIND', 'MEDICATION', '', '{{medication.pk}}')">
                                    {# Translators: Button to remind a patient to take a medication. #}
                                    {% trans "Remind" %}
                                </button>
                            </td>
                            <td>
                                <form action="{% url 'delete-medication' %}" method="post" id="delete-medication-form">
                                    <input type="hidden" name="patient_pk" value="{{patient.pk}}">
                                    <input type="hidden" name="medication_pk" value="{{medication.pk}}">
                                    <span class="glyphicon glyphicon-remove delete-medication delete-x" aria-hidden="true" onclick="document.getElementById('delete-medication-form').submit()"></span>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% else %}

                <br>
                <div class="pa-center-wrapper">
                    {# Translators: No medications for a patient found. #}
                    {% trans "No medications found." %}
                </div>

                {% endif %}

            </div>
        </div>

        {% for report in medication_reports %}
        <div class="panel panel-default tab-pane fade" id="report-{{report.pk}}">

            <div class="panel-heading">
                <strong class="panel-title">{{report.created_date|date:"SHORT_DATE_FORMAT"}} {{report.created_date|time:"H:i"}}</strong>
            </div>
            <div class="panel-group medication-report" id="report-{{report.pk}}-accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    {% for entry in report.entries.all %}
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#report-{{report.pk}}-accordion" href="#entry-{{entry.pk}}" aria-expanded="true" aria-controls="entry-{{entry.pk}}">
                                {{entry.medication.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="entry-{{entry.pk}}" class="panel-collapse collapse in" role="tabpanel">
                        <ul class="list-group">
                            {% for status in entry.statuses.all %}
                                {% if status.completed %}
                                <li class="list-group-item green">
                                    <span class="glyphicon glyphicon-ok green"></span>
                                    <span class="medication-status-time">{{status.time}}</span>
                                </li>
                                {% else %}
                                <li class="list-group-item red">
                                    <span class="glyphicon glyphicon-remove red"></span>
                                    <span class="medication-status-time">{{status.time}}</span>
                                </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>












{% include "create_medication_modal.html" %}
