{% load i18n %}

<br>

{% load staticfiles %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                {# Translators: List of past submitted pain locator surveys. #}
                <strong class="panel-title">{% trans "Surveys" %}</strong>
                {# Translators: Button to remind patients to submit a pain locator survey. #}
                <button type="button" class="btn btn-danger btn-xs" onclick="fcmNotification('{{patient.user.username}}', 'REMIND', 'PAIN', '', '-2')">{% trans "Remind" %}</button>
            </div>

            <!-- Chat channels list -->
            <ul class="list-group">
                {% for pain in pain_images %}
                <a data-toggle="tab" class="list-group-item" href="#{{pain.pk}}">{{pain.created_date|date:"SHORT_DATE_FORMAT"}} {{pain.created_date|time:"H:i"}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content Panel -->
    <div class="col-md-9 tab-content">
        {% for pain in pain_images %}

        {% if forloop.first %}
        <div class="panel panel-default tab-pane fade in active" id="{{pain.pk}}">
        {% else %}
        <div class="panel panel-default tab-pane fade" id="{{pain.pk}}">
        {% endif %}

            <div class="panel-heading">
                <strong class="panel-title">{{pain.created_date|date:"SHORT_DATE_FORMAT"}} {{pain.created_date|time:"H:i"}}</strong>
            </div>

            <div class="pain-tab">
                <div class="pain-img-wrapper">
                    {# Translators: Front image of pain locator body. #}
                    <div class="pa-center-wrapper pain-img-label"><strong>{% trans "Front" %}</strong></div>
                    <img class="pain-img pain-img-left" src="https://palliassistblobstorage.blob.core.windows.net/{{pain.container_name}}/{{pain.front_blob_name}}">
                </div>
                <div class="pain-img-wrapper">
                    {# Translators: Rear image of pain locator body. #}
                    <div class="pa-center-wrapper pain-img-label"><strong>{% trans "Rear" %}</strong></div>
                    <img class="pain-img" src="https://palliassistblobstorage.blob.core.windows.net/{{pain.container_name}}/{{pain.back_blob_name}}">
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
</div>

