{% load i18n %}

<br>

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                <strong class="panel-title">{% trans "Surveys" %}</strong>
                <button type="button" class="btn btn-danger btn-xs" onclick="fcmNotification('{{patient.user.username}}', 'REMIND', 'ESAS', '', '-1')">{% trans "Remind" %}</button>
            </div>

            <!-- Chat channels list -->
            <ul class="list-group">
                
                <a data-toggle="tab" class="list-group-item" href="#esas-overview">{% trans "Overview" %}</a>

                {% for esas in esas_objects %}
                <a data-toggle="tab" class="list-group-item" href="#esas-{{esas.pk}}">{{esas.created_date|date:"SHORT_DATE_FORMAT"}} {{esas.created_date|time:"H:i"}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content Panel -->
    <div class="col-md-9 tab-content">
        <div class="panel panel-default tab-pane fade in active" id="esas-panel">

            <div class="panel-heading">
                <strong class="panel-title">{% trans "Overview" %}</strong>
            </div>
            <div class="panel-body" id="esas-panel-body">
                <div id="esas-overview" class="tab-pane fade in active">
                    <div id="esas-chart" style="width: 500px; height: 500px"></div>
                </div>
            </div>
        </div>

        {% for esas in esas_objects %}
        <div class="panel panel-default tab-pane fade" id="esas-{{esas.pk}}">

            <div class="panel-heading">
                <strong class="panel-title">{{esas.created_date|date:"SHORT_DATE_FORMAT"}} {{esas.created_date|time:"H:i"}}</strong>
            </div>
            <div class="panel-body" id="">
                <div id="" class="">
                    <div id="{{esas.pk}}-esas-responses">

                        <!-- Standard questions -->
                        <strong>{% trans "Standard" %}</strong>
                        <table class="table table-bordered table-hover">
                            {% comment %}
                            <tr>
                                <th>Symptom</th>
                                <th>Severity</th>
                            </tr>
                            {% endcomment %}

                            <tr class="esas-standard-field">
                                <td>{% trans "Pain" %}</td>
                                <td class="esas-answer">{{esas.pain}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Fatigue" %}</td>
                                <td class="esas-answer">{{esas.fatigue}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Nausea" %}</td>
                                <td class="esas-answer">{{esas.nausea}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Depression" %}</td>
                                <td class="esas-answer">{{esas.depression}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Anxiety" %}</td>
                                <td class="esas-answer">{{esas.anxiety}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Drowsiness" %}</td>
                                <td class="esas-answer">{{esas.drowsiness}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Appetite" %}</td>
                                <td class="esas-answer">{{esas.appetite}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Well-Being" %}</td>
                                <td class="esas-answer">{{esas.well_being}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Lack of Air" %}</td>
                                <td class="esas-answer">{{esas.lack_of_air}}</td>
                            </tr>

                            <tr class="esas-standard-field">
                                <td>{% trans "Insomnia" %}</td>
                                <td class="esas-answer">{{esas.insomnia}}</td>
                            </tr>
                        </table>

                        <br>

                        <strong>{% trans "Custom" %}</strong>
                        <!-- Custom questions -->
                        <table class="table table-bordered table-hover">

                            <!-- Fever -->
                            {% if esas.fever == "yes" %}
                            <tr class="esas-custom-field danger">
                            {% else %}
                            <tr class="esas-custom-field success">
                            {% endif %}
                            <td>{% trans "Fever" %}</td>
                            <td class="esas-answer">
                                {% blocktrans with esas_fever=esas.fever|title %}{{esas_fever}}{% endblocktrans %}
                            </td>
                            </tr>

                            <!-- Constipated -->
                            {% if esas.constipated == "yes" %}
                                {% if esas.constipated_bothered < 5 %}
                                <tr class="esas-custom-field warning">
                                {% else %}
                                <tr class="esas-custom-field danger">
                                {% endif %}
                                <td>{% trans "Constipated" %}</td>

                                <td class="esas-answer">
                                    {% blocktrans with esas_constipated=esas.constipated|title %}{{esas_constipated}}{% endblocktrans %}, {{esas.constipated_days}} {% trans "days" %}, {{esas.constipated_bothered}} {% trans "severity" %}
                                </td>
                                </tr>

                            {% else %}
                            <tr class="esas-custom-field success">
                                <td>{% trans "Constipated" %}</td>
                                <td class="esas-answer">
                                    {% blocktrans with esas_constipated=esas.constipated|title %}{{esas_constipated}}{% endblocktrans %}
                                </td>
                            </tr>
                            {% endif %}

                            <!-- Vomiting -->

                            {% if esas.vomiting == "yes" %}
                            <tr class="esas-custom-field danger">
                                <td>{% trans "Vomiting" %}</td>

                                <td class="esas-answer">
                                    {% blocktrans with esas_vomiting=esas.vomiting|title %}{{esas_vomiting}}{% endblocktrans %}, {{esas.vomiting_count}} {% trans "times" %}
                                </td>
                            </tr>
                            {% else %}
                            <tr class="esas-custom-field success">
                                <td>{% trans "Vomiting" %}</td>
                                <td class="esas-answer">
                                    {% blocktrans with esas_vomiting=esas.vomiting|title %}{{esas_vomiting}}{% endblocktrans %}, {% trans "times" %}
                                </td>
                            </tr>
                            {% endif %}

                            <!-- Confused -->
                            {% if esas.confused == "yes" %}
                            <tr class="esas-custom-field danger">
                            {% else %}
                            <tr class="esas-custom-field success">
                            {% endif %}
                            <td>{% trans "Confused" %}</td>

                            <td class="esas-answer">
                                {% blocktrans with esas_confused=esas.confused|title %}{{esas_confused}}{% endblocktrans %}
                            </td>
                            </tr>

                        </table>

                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

</div>



