{% extends "app/layout.html" %}

{% block content %}
<div class="">
    <h3>{{title}}<small><!--Subtext for header--></small></h3>
    <hr>
</div>


<!-- Search form -->
<section id="queryPatients">
<form method="GET" action="/patients/">
    {% csrf_token %}

    <!-- <div class="pa-child-display-inline-block"> -->
    <div>
        <div class="pa-child-display-inline-block">
            <label>{{ query_patients_form.patient_query.label }}</label>
            {{ query_patients_form.patient_query}}

            <button type="submit" class="btn btn-primary">Search</button>
        </div>

        <label>{{ query_patients_form.mine.label }}</label>
        {{ query_patients_form.mine }}
    </div>


</form>

</section>

<hr />


{% if patient_results %}

<!-- Table of search results --> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Hospital ID</th>
            <th>Gender</th>
            <th>Age</th>
            <th><!-- Add/Remove button column --></th>
        </tr>
    </thead>
    <tbody>
        <!-- Search results -->
        {% for patient_result in patient_results %}
        <tr>
            <td><a href="{% url 'patient-profile' %}?pk={{patient_result.pk}}">{{ patient_result.full_name}}</a> </td>
            <td>{{ patient_result.pk}} </td>
            <td>{{ patient_result.gender }} </td>
            <td>{{ patient_result.age }} </td>

            {% if user.doctor in patient_result.doctor_set.all %}
            <td><button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-minus"></span> Unfollow</button></td>
            {% else %}
            <td><button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Follow</button></td> 
            {% endif %}

        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}

<div class="pa-center-wrapper">
    No patients found.
</div>

{% endif %}


{% endblock %}





{% block scripts %}

{% load staticfiles %}

<script src="{% static 'app/scripts/patients.js' %}"></script>

{% endblock %}

