{% load i18n %}

<br>

{% load staticfiles %}
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <!-- Default panel contents -->

            <div class="panel-heading clearfix">
                <strong class="panel-title">{% trans "Surveys" %}</strong>
                <button type="button" class="btn btn-danger btn-xs" onclick="fcmNotification('{{patient.user.username}}', 'REMIND', 'PAIN', '', '-2')">{% trans "Remind" %}</button>
            </div>

            <!-- Chat channels list -->
            <ul class="list-group">
                
                <!-- <a data-toggle="tab" class="list-group-item" href="#pain-overview">Overview</a> -->

                {% for pain in pain_images %}
                <!-- <a data-toggle="tab" class="list-group-item millis-date" href="#{{pain.pk}}">{{pain.created_date}}</a> -->
                <a data-toggle="tab" class="list-group-item" href="#{{pain.pk}}">{{pain.created_date|date:"SHORT_DATE_FORMAT"}} {{pain.created_date|time:"H:i"}}</a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Content Panel -->
    <div class="col-md-9 tab-content">
        {% for pain in pain_images %}

        {% if forloop.first %}
        <div class="panel panel-default tab-pane fade in active" id="{{pain.pk}}">
        {% else %}
        <div class="panel panel-default tab-pane fade" id="{{pain.pk}}">
        {% endif %}

            <div class="panel-heading">
                <strong class="panel-title">{{pain.created_date|date:"SHORT_DATE_FORMAT"}} {{pain.created_date|time:"H:i"}}</strong>
            </div>

            <div class="pain-tab">
                {% comment %}
                <div class="pa-center-wrapper svg-wrapper">
                    <div>
                        <strong style="margin-right:15px">Front</strong>
                    </div>
                    <svg width="{{pain_width}}" height="{{pain_height}}" class="front-body" viewbox="0 0 {{pain_width}} {{pain_height}}">
                        <image xlink:href="{% static 'app/images/body_image.png' %}" x="0" y="0" width="{{pain_width}}" height="{{pain_height}}"/> 

                        {% for point in pain.front_points.all %}
                        <!-- <circle cx="{% widthratio point.x pain.width pain_width %}" cy="{% widthratio point.y pain.height pain_height %}" r="10" stroke="red" stroke-width="1" fill="red" /> -->
                        <circle cx="{% widthratio point.x pain.width pain_width %}" cy="{% widthratio point.y pain.height pain_height %}" r="10" stroke="red" stroke-width="1" fill="rgb(255, {{point.rgb}}, {{point.rgb}})" />
                        <text x="{% widthratio point.x pain.width pain_width %}" dx="-3" y="{% widthratio point.y pain.height pain_height %}" dy="4" font-family="Arial" font-size="10" stroke="none" fill="white">{{point.intensity}}</text>
                        {% endfor %}
                    </svg>
                </div>

                <div class="pa-center-wrapper svg-wrapper">
                    <div>
                        <strong style="margin-right:14px">Back</strong>
                    </div>
                    <svg width="{{pain_width}}" height="{{pain_height}}" class="back-body" viewbox="0 0 {{pain_width}} {{pain_height}}">
                        <image xlink:href="{% static 'app/images/body_image.png' %}" x="0" y="0" width="{{pain_width}}" height="{{pain_height}}"/> 

                        {% for point in pain.back_points.all %}
                        <circle cx="{% widthratio point.x pain.width pain_width %}" cy="{% widthratio point.y pain.height pain_height %}" r="10" stroke="red" stroke-width="1" fill="rgb(255, {{point.rgb}}, {{point.rgb}})" />
                        <text x="{% widthratio point.x pain.width pain_width %}" dx="-3" y="{% widthratio point.y pain.height pain_height %}" dy="4" font-family="Arial" font-size="10" stroke="none" fill="white">{{point.intensity}}</text>
                        {% endfor %}
                    </svg>
                </div>
                {% endcomment %}
                <div class="pain-img-wrapper">
                    <div class="pa-center-wrapper pain-img-label"><strong>{% trans "Front" %}</strong></div>
                    <img class="pain-img pain-img-left" src="https://palliassistblobstorage.blob.core.windows.net/{{pain.container_name}}/{{pain.front_blob_name}}">
                </div>
                <div class="pain-img-wrapper">
                    <div class="pa-center-wrapper pain-img-label"><strong>{% trans "Rear" %}</strong></div>
                    <img class="pain-img" src="https://palliassistblobstorage.blob.core.windows.net/{{pain.container_name}}/{{pain.back_blob_name}}">
                </div>



            </div>

        </div>

        {% endfor %}
    </div>
</div>

