{% extends "app/empty_layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-6 col-md-push-3">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-push-3">
        <section id="loginForm">
        <form action="." method="post" class="form-horizontal">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <!-- Loops through fields in form and renders -->
            {% for field in form %}

            {% if field.errors %}
            <div class="form-group has-error">
            {% else %}
            <div class="form-group">
            {% endif %}

                <label for="{{ field.id_for_label }}" class="col-md-3 control-label">{{ field.label }}</label>
                <div class="col-md-9 pa-ignore-center-wrapper pa-form-field">
                    {{ field }}

                    {{ field.errors | safe }}

                    {% if field.id_for_label == 'id_patients_doctor_username' %}
                    <span><i>* Only for registering patients.</i></span>
                    {% endif %}
                </div>
            </div>

            {% endfor %}

                {% comment %}

                <!-- Full Name -->
                <div class="form-group">
                    <label for="{{ form.real_name.id_for_label }}" class="col-md-3 control-label">{{ form.real_name.label }}</label>
                    <div class="col-md-9">
                        {{ form.real_name}}
                    </div>
                </div>

                <!-- Username -->
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="col-md-3 control-label">{{ form.username.label }}</label>
                    <div class="col-md-9">
                        {{ form.username}}
                    </div>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="{{ form.password_1.id_for_label }}" class="col-md-3 control-label">{{ form.password_1.label }}</label>
                    <div class="col-md-9">
                        {{ form.password_1}}
                    </div>
                </div>

                <!-- Retype Password -->
                <div class="form-group">
                    <label for="{{ form.password_2.id_for_label }}" class="col-md-3 control-label">{{ form.password_2.label }}</label>
                    <div class="col-md-9">
                        {{ form.password_2}}
                    </div>
                </div>

                <!-- Access Key -->
                <div class="form-group">
                    <label for="{{ form.access_key.id_for_label }}" class="col-md-3 control-label">{{ form.access_key.label }}</label>
                    <div class="col-md-9">
                        {{ form.access_key }}
                    </div>
                </div>

                <!-- Access Key -->
                <div class="form-group">
                    <label for="{{ form.doctor_patient_choice.id_for_label }}" class="col-md-3 control-label">{{ form.doctor_patient_choice.label }}</label>
                    <div class="col-md-9">
                        {{ form.doctor_patient_choice }}
                    </div>
                </div>

                <!-- Select Doctor or Patient -->
                <div class="form-group">
                    <label class="col-md-3 control-label">Role</label>
                    <div class="col-md-9 pa-ignore-center-wrapper">

                        <div class="btn-group">
                            <input id="{{ form.doctor_choice.id_for_label }}" class="btn btn-default" type="button" value="{{ form.doctor_choice.label }}">
                            <input id="{{ form.patient_choice.id_for_label }}" class="btn btn-default" type="button" value="{{ form.patient_choice.label }}">
                        </div>
                    </div>
                </div> 
                {% endcomment %}


                <br><br>

                <div class="form-group pa-ignore-center-wrapper">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Sign Up" class="btn btn-primary" />
                    </div>
                </div>
            </form>
            </section>
        </div>
    </div>

    {% endblock %}


    {% block scripts %}

    {% load staticfiles %}
    <script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

    {% endblock %}
